<div class="toolbar">
  <mat-toolbar color="warn">
   <img class="toolbar_logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Team_Fortress_2_style_logo.svg/1024px-Team_Fortress_2_style_logo.svg.png" alt="tf2logo">
   <span>Team fortress 2 random tips generator</span>
   <span class="toolbar-spacer"></span>
   <button mat-button (click)="scoutTip()">
     Scout
   </button>
   <button mat-button (click)="soldierTip()">
    Soldier
  </button>
  <button mat-button>
    Pyro
  </button>
  <button mat-button>
    Demoman
  </button>
  <button mat-button>
    Heavy
  </button>
  <button mat-button>
    Engineer
  </button>
  <button mat-button>
    Medic
  </button>
  <button mat-button>
    Sniper
  </button>
  <button mat-button>
    Spy
  </button>
 </mat-toolbar>
</div>
