.tip{
  width: 800px;
  height: 256px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px,
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.tip_info{
  display: flex;
  align-items: center;

  flex-direction: column;
}
.tip_characterName{
  width: 544px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.tip_characterTip{
  width: 520px;
  height: 200px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
